<div role="main">
  <div class="intro">
	<div>
		<h1 id="page-title">About Us</h1>
	</div>
  </div>
  <div class="content">
		<h2>What does CAMHS Ready do?</h2>
		<p>CAMHS Ready is a tool that helps young people and their families to get ready for their first visit to North Staffordshire CAMHS.</p>

		<p>It gives young people experiencing difficulties with their thoughts, feelings, or behaviour simple advice about what CAMHS is and how it works.</p>

		<p>CAMHS Ready also helps young people plan what they want to say at their first CAMHS appointment by helping them explore topics linked to thoughts and feelings, and then make their own checklist of priorities.</p>

		<p>They can then easily export their checklist to help them remember what they want to say at their appointment.</p>

		<p>
			We developed CAMHS Ready to help:
			<ul>
				<li>Provide reassurance to young people and their families about the process of visiting CAMHS</li>
				<li>Prepare young people to make the most of their first visit to CAMHS</li>
				<li>Help open up conversations between young people and CAMHS staff at first CAMHS appointments</li>
			</ul>
		</p>

		<h2>Who built CAMHS Ready?</h2>

		<p>CAMHS Ready builds upon the design of a successful support tool called <a href="http://www.docready.org" target="_blank">DocReady</a>. Doc Ready helps young people to make the most out of their mental health related GP visits.</p>

		<p>The entire team behind Doc Ready worked closely with young people who have used North Staffordshire CAMHS and staff to create CAMHS Ready. <a href="http://wearefuturegov.com" target="_blank">FutureGov</a> and <a href="http://www.neontribe.co.uk" target="_blank">Neontribe</a> led the development process CAMHS Ready, and <a href="http://enabledbydesign.org" target="_blank">Enabled by Design</a> and <a href="http://www.socialspider.com" target="_blank">Social Spider</a> offered valuable support and advice throughout.</p>

		<p>If you are a young person, family member, or are involved in mental health services and you want to find out more or give us feedback about CAMHS Ready, we'd love to hear from you!</p>

		<p>Open the <a href="#/feedback">feedback form</a> to share your views or questions with us. We regularly review all feedback, and will get back to you as soon as possible if you leave your contact details.</p>
	

  </div>
</div>
