<div role="main">
  <div class="intro">
    <h1>Feedback</h1>
  </div>
  <div class="content">
    <h2>Let us know what you think</h2>
    <form name="feedbackform" data-ng-submit="sendFeedback()">
      
      <div>
        <label for="referral">How did you hear about CAMHS Ready?</label>
        <select id="referral" data-ng-model="feedback.referral">
          <option value="Family">Family</option>
          <option value="Doctor">Doctor</option>
          <option value="School Nurse or Counsellor">School Nurse or Counsellor</option>
          <option value="Teacher">Teacher</option>
          <option value="Friend">Friend</option>
          <option value="Internet">Internet</option>
          <option value="Leaflets">Leaflets</option>
          <option value="Other">Other (please specify)</option>
        </select>
        <input class="other" type="text" placeholder="please specify" data-ng-show="feedback.referral === 'Other'" data-ng-model="feedback.referralOther" />
      </div>
      <label for="appointment">
        <input type="checkbox" id="appointment" data-ng-model="feedback.appointment" /> 
        Do you have an appointment with CAMHS?
      </label>
      <div>
        <label for="usefulness">How useful did you find CAMHS Ready?</label>
        <select id="usefulness" data-ng-model="feedback.usefulness">
          <option value="5">Extremely</option>
          <option value="4">Very</option>
          <option value="3">Moderately</option>
          <option value="2">Slightly</option>
          <option value="1">Not at all</option>
        </select>
      </div>

      <label for="comments">Any other comments? (NB If your feedback requires a response, please leave your email address)</label>
      <input type="text" id="comments" data-ng-model="feedback.comments" />

      <div class="button-group center">
          <button aria-live="polite" 
                  role="status" 
                  type="submit" 
                  data-ng-disabled="feedbackform.$invalid" 
                  data-ng-click="track('feedbackSent')" 
                  data-ng-switch="feedback.state" 
                  data-ng-class="feedback.state">
            <span data-ng-switch-when="sending">Sending</span>
            <span data-ng-switch-when="sent">Sent</span>
            <span data-ng-switch-default>Send</span>
          </button>
      </div>
      
    </form>
    <p class="center" data-ng-show="feedback.state === 'sent'">Thanks very much for your feedback. If you've asked a question and left your contact details, we'll aim to reply to you in seven working days with a response.</p>

  </div>
</div>