<div role="main" id="home">
  <div class="intro home-banner">
      <h1 id="page-title">Helping you to get <img src="images/outlined_logo_blue.png" role="text" aria-label="CAMHS ready" /></h1>
  </div>
  <div class="content">
    <p>CAMHS Ready is a tool for young people and their families that makes sure you get the most out of your first visit to North Staffordshire CAMHS.</p>
    <p>If you’re struggling with your thoughts, feelings, or actions, we can help.</p>
    <ol class="group-center group-top introduction">
      <li style="width: 50%">
        <div>       
          <img src="images/howitworks_1.png" alt="" />
          <h2>Info and Advice</h2>
          <p>Explains how CAMHS can help and what will happen at your first appointment. </p>
          <p><a class="button" href="#/advice">Find out more</a></p>
        </div>
      </li>
      <li style="width: 50%">
        <div>
          <img src="images/howitworks_2.png" alt="" />
          <h2>Make a Checklist</h2>
          <p>Helps you plan for your first appointment by creating a checklist to bring with you.</p>
          <p><a class="button" href="#/picker">Get started</a></p>
        </div>
      </li>
    </ol>
  </div>
</div>
